# Carpeta a ignorar
__pycache__
figures
models

## Extensiones 

.ipynb_checkpoints
.pytest_cache

scripts/trial.py
notebooks/trials.ipynb
# exclude everything
logs/*
figures/*
models/*
# exception to the rule
!logs/.gitkeep 
!figures/.gitkeep 
!models/.gitkeep 