# Carpeta a ignorar
__pycache__


## Extensiones 

.ipynb_checkpoints
.pytest_cache

scripts/trial.py
notebooks/trials.ipynb
# exclude everything
logs/*

# exception to the rule
!logs/.gitkeep 

figures/*
models/*
!figures/.gitkeep 
!models/.gitkeep 